.slideshow-container {
    position: relative;
    margin: auto;
}

.slide > img {
    border-radius: 12px;
}

.prev, .next {
    backdrop-filter: blur(3px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    color: white;
    
    position: absolute;
    top: 50%;

    width: 15px;
    margin-top: -14px;
    padding: 15px;

    font-weight: bold;
    font-size: 18px;
    
    transition: 0.3s ease;
    background-color: #cecece6c;

    display: flex;
    align-items: center;
    align-content: center;
    
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: #cececebb;
}
.prev > img, .next > img {
    position: relative;
}

.prev {
    left: 0;
    border-radius: 0 12px 12px 0;
}
.prev > img {
    right: 3px;
    transition: 0.3s ease;
}
.prev:hover > img {
    right: 8px;
}

.next {
    right: 0;
    border-radius: 12px 0 0 12px;
}
.next > img {
    left: -5px;
    transition: 0.3s ease;
}
.next:hover > img {
    left: 0px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 15px;
    display: inline-block;

    transition: background-color 0.3s ease;
    transition: width 0.3s ease;
}

.active, .dot:hover {
    background-color: #bbb;
}

.active {
    width: 32px;
}