@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --col-bg-main: #262b44;
    --col-text: white;
    --col-text-light: #8186a2;
    --col-text-lighter: #535976;
}

body{
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    
    line-height: 1.4;
    font-weight: 400;

    padding: 0px;
    margin: 0px;
    
    background-color: var(--col-bg-main);
    color: var(--col-text);
    font-size: 19px;
    /* outline: solid red; */
}

.page-content {
    margin: 0px auto;
    max-width: 800px;
    
    padding: 20px 20px;
    border: 0;
}

h1, h2, h3{
    line-height: 1.2
}

a {
    color: var(--col-text);

    text-decoration: underline;
  	text-decoration-color: var(--col-text-light);
}

.links > a {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.link-button {
    padding: 15px;
    margin: 5px;

    cursor: pointer;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    color: inherit;

    background-color: var(--col-bg-main);
    border: solid var(--col-text-light);
    border-radius: 15px;
}

.important-link {
    background-color: var(--col-text-light);

}

/***** hr *****/

hr {
    border: 1px solid var(--col-text-lighter);

    margin-top: 42px;
    margin-bottom: 42px;
    width: 80%;
    
    overflow: visible;
    text-align: center;
    height: 0px;
}
hr::after {
    background: var(--col-bg-main);

    color: var(--col-text);
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.hr-1::after {
    content: '🐛🐛🐛';
} 
.hr-2::after {
    content: '🐞🐞🐞';
}
.hr-3::after {
    content: '🐝🐝🐝';
}
.hr-4::after {
    content: '🐜🐜🐜';
}
.hr-5::after {
    content: '🪰🪰🪰';
}

footer {
    color: var(--col-text-light)
}

/* header {
    padding: 
} */

.big {
    font-weight: bold;
    font-size: 22px;
}

.bigger {
    font-weight: bold;
    font-size: 25px;
}

.shadow-red {
    text-shadow: 0px 2px 0px #e43b44;
}
.shadow-blue{
    text-shadow: 0px 2px 0px #0095e9;
}
.shadow-yellow{
    text-shadow: 0px 2px 0px #feae34;
}

/***** Logo & banner *****/

@-webkit-keyframes wave-anim {
    00% {
        transform: translateY(0em);
    }
    50% {
        transform: translateY(-0.6em);
    }
    100% {
        transform: translateY(0em);
    }
}

.logo {
    z-index: 1000;

    width: 500px;
    max-width: 100%;
}

/* .logo {
    border: solid orange;
} */

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 300px;
    /* border: solid red; */
}
.logo-container > .logo {
    display: inline-block;
    -webkit-animation: wave-anim 1s ease-in-out infinite;
            animation: wave-anim 1s ease-in-out infinite;
}

.banner {
    z-index: 900;

    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;

    left: 0;
    top: 0;
}

.banner-fadeout {    
    z-index: 950;

    position: absolute;
    left: 0;
    top: 280px;
    width: 100%;
    height: 20px;
    /* border: solid red; */
    
    background-image: url("../image/separator.png");
    background-size:contain;
    background-repeat: repeat-x;
    /* background-position: center top; */
}


::selection {
    background-color: #feae34;
    color: #FFF;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    display: contents;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    
    min-width: 100px;
    border: solid 6px rgba(255, 255, 255, 0);
    box-sizing: border-box;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}